{% extends 'app/main.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static '/css/about.css'%}">

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div class="card-deck">
    <div class="card">
        <img src="{% static "images/profile1.jpg" %}" class="card-img-top" alt="Gokul">
        <div class="card-body">
            <h3 class="card-title">Gokul A A</h3>
            <p class="card-body">B.Tech Information Technology</p>
        </div>
        <div class="card-footer">
            <span class="text-info">gokulajayan5500@gmail.com</span>
            <a class="btn btn-primary" href="">Contact</a>
        </div>
    </div>

    <div class="card">
        <img src="{% static "images/profile2.jpg" %}" class="card-img-top" alt="Jithin">
        <div class="card-body">
            <h3 class="card-title">Jithin D K</h3>
            <p class="card-body">B.Tech Information Technology</p>
        </div>
        <div class="card-footer">
            <span class="text-info">jithinloyolite@gmail.com</span>
            <a class="btn btn-primary" href="">Contact</a>
        </div>
    </div>

    <div class="card">
        <img src="{% static "images/profile3.jpg" %}" class="card-img-top" alt="Naveen">
        <div class="card-body">
            <h3 class="card-title">Naveen Madhav B M</h3>
            <p class="card-body">B.Tech Information Technology</p>
        </div>
        <div class="card-footer">
            <span class="text-info">naveen.madhav.bm@gmail.com</span>
            <a class="btn btn-primary" href="">Contact</a>
        </div>
    </div>

    <div class="card">
        <img src="{% static "images/profile4.jpg" %}" class="card-img-top" alt="Rahul">
        <div class="card-body">
            <h3 class="card-title">Rahul Ramachandran</h3>
            <p class="card-body">B.Tech Information Technology</p>
        </div>
        <div class="card-footer">
            <span class="text-info">rahul.ramachandran44@gmail.com</span>
            <a class="btn btn-primary" href="">Contact</a>
        </div>
    </div>
</div>


{% endblock %}