{% extends 'app/main.html' %}

{% load static %}



{% block content %}


<br><br>
<body id="bg" style="background-image: url('{% static "images/wallpaper.jpg" %}')";></body>
<div class="container-fluid" >
    <div class="jumbotron text-center lighten-5" style="background-color: #ffffff; opacity: 0.7; ">
        <h1 class="card-title font-weight-bold h1">KWIZ!</h1>
        <h4 class="my-4 font-weight-bold text-primary h4">YOUR PERSONAL EXAM ASSISTANT</h4>

        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 pb-2">
                <p class="card-text">"To be a good professional engineer always start to study late for exams."</p>
            </div>
        </div>

        <hr class="my-4 pb-2">

        {% if not request.user.is_authenticated %}
            <div class="row justify-content-center">
                <a class="col-2 btn btn-info btn-rounded" href="{% url 'reg' %}">Register</a><div class="col-1"></div>
                <a class="col-2 btn btn-primary btn-rounded" href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}