{% extends 'app/main.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-9 card">
        <h3 class="card-title h3">Edit Profile</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <a href="{% url 'resetPassword' %}" class="btn btn-lg btn-info float-left">Password Reset</a>
            <button class="btn btn-lg btn-success float-end" type="submit">Submit</button>
        </form>
        <br>
    </div>
</div>

{% endblock %}