{% extends 'app/main.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-9 card">
        <h3 class="card-title h3">Passowrd Reset</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <div class="alert" role="alert">
                {% for m in messages %}{{m}}<br>{% endfor %}
            </div>
            <br>
            <button class="btn btn-lg btn-success float-end" type="submit">Submit</button>
         </form>
        <br>
    </div>
</div>

{% endblock %}